<div class="container">
    <div class="text-center">
        <div class="row">
          <div class='col-md-10 col-sm-12 offset-md-1 offset-sm-0'>
            <table class="order-table table">
              <thead>
                <tr>
                  <th> Customer <i class="fa fa-user"></i> </th>
                  <th> Delivery Date <i class="fa fa-truck"></i> </th>
                  <th> Packaging  <i class="fa fa-cube"></i> </th>
                  <th> Serving Style <i class="fa fa-glass"></i> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td>{{order.customer}} </td>
                  <td>{{formatDate(order.requestedDeliveryDate)}}</td>
                  <td>{{order.packaging}}</td>
                  <td>{{order.servingStyle}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class='col-10 offset-1'>
            <div *ngIf="pager.totalPages" class="pagination">
                <div class='controller' (click)="loadData(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="pagination-text">
                  Page {{pager.currentPage}} of {{pager.totalPages}}
                </div>
                <div class='controller' (click)="loadData(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <i class="fa fa-angle-right"></i>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>