@import '../../../../styles.scss';

.order-table {
  $custom-phablet-breakpoint: 768px;
  max-width: 100%;
  background: $white;
  margin: rem(70px) 0;

  thead {
    background-color: $yellow;
  }

  th {
    vertical-align: middle;
    font-weight: 700;
    color: $dark;
    border-color: $dark;
    border-width: rem(2px);
  }

  td {
    max-width: 0;
    overflow: hidden;
    
    //in the future text-overflow should be replaced by some pipe 
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $dark;
  }

  .row-error {
    color: $red;
  }

  @include media-breakpoint-down($custom-phablet-breakpoint) {
    margin: rem(50px) 0;

    i {
      display: none;
    }
  }

  @include media-breakpoint-down($media-min-tablet-width - 1px) {
    th, td {
      &:last-child {
        display: none;
      }
    }
  }
}

.pagination {    
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: rem(20px) 0 rem(100px);

  .controller {
    padding: rem(5px) rem(20px);

    &.disabled {
      opacity: 0.5;
    }

    &:hover:not(.disabled) {
      cursor: pointer;
      transform: scale(2);
    }
  }

  .pagination-text {
    text-decoration: none;
  }
}


