<div class="home container">
  <h1>City Pantry Operations Monitor</h1>

  <p>
    Welcome to the City Pantry Operations Monitor. Here you can view orders and monitor them in real time.
  </p>

  <a [routerLink]="['/orders']">Order List</a>
</div>
