@import '../../../assets/styles/breakpoints.scss';
@import '../../../styles.scss';

.home {
  margin-top: rem(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include media-breakpoint-down($media-min-tablet-width - 1px) {
    margin-top: rem(50px);
  }
}