@mixin media-breakpoint-down($breakpoint) {
  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @content;
  }
}