$black: #101010;
$dark: #211d1a;
$kashmir: #2f4858;
$cod-gray: #1d1d1d;
$abbey: #444547;
$slate: #798897;
$ebony: #0e1120;
$yellow: #fff200;
$mirage: #1B1F39;
$deep-sapphire: #0d3d70;
$downriver: #0a2852;
$mirage: #1b1f39;
$sea-green: #339567;
$highlight: #f3eed9;
$gray: #bdc3cb;
$light-gray: #f8f9fa;
$alt-gray: #868686;
$fuscous-gray: #4d4a47;
$manatee: #939aa3;
$iron: #d4d7da;
$red: #e6282b;
$light-red: #ed5e60;
$pink: #e43581;
$white: #ffffff;
$jungle-green: #30aa7c;
$healthcare-green: #02c4aa;
$cerulean: #336dc1;
$fitness-blue: #4da4de;
$robins-egg-blue: #00c7db;
$boston-blue: #3095b6;
$pearl-bush: #e6dfd9;
$bonjour: #eceaeb;
$custom-mirage: #1a1e2b;
