<header>
  <div class="logo">
    <img src="../../../assets/images/logo.svg" />
  </div>
  <nav>
    <div class="items">
      <div class="item">
        <a routerLink='/home' routerLinkActive="active">
          Home
      </a>
      </div>
      <img src="../../../assets/images/fork-knife.svg" />
      <div class="item">
        <a routerLink='/orders' routerLinkActive="active">
          ORDERS
        </a>
      </div>
    </div>
  </nav>
</header>