@import '../../../styles.scss';

header {
  background-color: $dark;
  height: rem(100px);
  padding: rem(20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  .logo img {
    height: rem(70px);
  }

  a {
      cursor: pointer;
      color: $white;
      text-decoration: none;
      font-weight: bold;
      padding: rem(2px) rem(4px);

      &:hover, &.active {
        border-bottom: rem(2px) solid $white;
      }

      &:hover {
        opacity: 0.7;
      }
  }
}

.items {
  margin-right: rem(50px);;
  width: auto;
  flex-wrap: wrap;    
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: $white;

  .item{
      height: rem(50px);
      padding: rem(10px);    
      font-weight: 400;   
      text-transform: uppercase;  

      a {
        display: flex;
        flex-direction: row;

        i {
          padding-left:rem(5px);
        }
      }
  }
  
  .nav-spacer {
    width: rem(2px);
    margin: 0 rem(10px);
    height: rem(15px);
    background-color: $white;
  }

  @include media-breakpoint-down($media-min-tablet-width - 1px) {
    margin-right: rem(0px);
  }
}